{% extends "base.html" %}

{% block title %} Usuarios {% endblock %}

{% block content %}

    <h1>Administración de usuarios</h1>

    <section class="two-columns-grid">
        <article>
            <a href="/users/create" class="default-button">Crear Usuario</a>
        </article>
        <article>
            Cantidad de usuarios: <strong>{{ users|length }}</strong>
        </article>
    </section>

    {# PAGE DATA #}
    <section>
        <h2>Usuarios Actuales</h2>
        
        <article class="users-cards">
            {% for user in users %}
                <div class="user-card">
                    <p>{{ user.name }}</p>
                    <p>{{ user.email }}</p>
                    <a href="/users/user/{{ user.id }}" class="default-button">Editar</a>
                </div>
            {% endfor %}
        </article>

    </section>
{% endblock %}
