{% extends "base.html" %}

{% block title %} Resumen {% endblock %}

{% block content %}
    <h1>Resumen</h1>
    <h3>Filtrar resultados por fecha: </h3>
    <article class="filter-options">
        <form action="/summary" method="post">
            <label for="start_date">Fecha de inicio</label>
            <input type="date" name="start_date" id="start_date" value="{{ start_date }}">
            <label for="end_date">Fecha de fin</label>
            <input type="date" name="end_date" id="end_date" value="{{ end_date }}">
            <input class="default-button" type="submit" value="Fecha Personalizada">
        </form>
    </article>
    {# PAGE DATA #}

    <section>
        <h2>Resumen de Tickets impresos</h2>
        <article>
            <div class="char">
                <canvas id="bulletins-chart"></canvas>
                <p id="tickets-amount"></p>
            </div>
        </article>

        <h2>Resumen de Boletines impresos</h2>
        <article>
            <div class="char">
                <canvas id="bulletins-chart"></canvas>
                <p id="tickets-amount"></p>
            </div>
        </article>

        <h2>Resumen de Usuarios</h2>
        <article>
            <div class="char">
                <canvas id="bulletins-chart"></canvas>
                <p id="tickets-amount"></p>
            </div>
        </article>
    </section>
{% endblock %}
