{% extends "base.html" %}

{% block title %} Boletines Disponibles {% endblock %}

{% block content %}


    <div class="page-title">
        <a class="come-back-button" href="/bulletins"> 
            <!-- Create an image linking to static/assets/icons/ -->
            <img src="{{ url_for('static', filename='/assets/icons/arrow-left.svg') }}" alt="Volver">
            <span>Volver</span>
        </a>

        <h1>Administración de Boletines</h1>
    </div>

    <section class="available-tickets-page">

        <article  class="available-tickets-creation">
            <h2>Crear Nuevo Modelo de Boletín Disponible</h2>
            <form action="/bulletins/available-bulletins/create" method="post" class="general-form">
                <div>
                    <label for="duration">Duración:</label>
                    <input type="text" name="duration" id="duration" placeholder="ej: De 0 a 1/2 horas" required>
                </div>
                <div>
                    <label for="duration">Duración en minutos:</label>
                    <input type="number" name="duration_minutes" id="duration_minutes" placeholder="30">
                </div>
                <div>
                    <label for="price">Precio en €:</label>
                    <input type="number" step="0.01" name="price" id="price" placeholder="ej: 0.70" required>
                </div>
                <input class="default-button" type="submit" value="Crear">
            </form>
        </article>

        <article class="available-tickets-wrapper">
            <h2>Boletines Disponibles</h2>
            <div class="available-tickets">
                {% if available_bulletins|length == 0 %}
                    <p>No hay boletines disponibles</p>
                {% endif %}
                {% for bulletin in available_bulletins %}
                    <div class="available-ticket">
                        <p>Duración: <br/><b>{{ bulletin.duration }}</b></p>
                        <p>Precio: <br/><b>{{ bulletin.price }} €</b></p>
                        <p>Duración(minutos): <br/><b>{{ bulletin.duration_minutes }}</b></p>
                        <div>
                            <form action="/bulletins/available-bulletins/edit/{{ bulletin.id }}" method="post">
                                <label for="duration">Modificar duración:</label>
                                <input type="text" name="duration" placeholder="ej: De 0 a 1/2 horas" />
                                <label for="duration">Modificar Duración en minutos:</label>
                                <input type="number" name="duration_minutes" placeholder="30">
                                <label for="price">Modificar Precio: </label>
                                <input type="number" step="0.01" name="price" placeholder="ej: 0.70" />
                                <input class="default-button" type="submit" value="Modificar">
                            </form>
                        </div>
                        <form action="/bulletins/available-bulletins/delete/{{ bulletin.id }}" class="delete-form" method="post">
                            <input class="secundary-button delete-button" type="submit" value="Eliminar">
                        </form>
                    </div>
                {% endfor %}
            </div>
        </article>
    
    </section>


    <script src="{{ url_for('static', filename='/js/available_bulletins.js') }}"></script>

{% endblock %}