{% extends "base.html" %}

{% block title %} Boletines {% endblock %}

{% block content %}
    
    <h1>Administración de Boletines</h1>
    {# PAGE DATA #}
    <article>
        <p>Mostrando boletines creados desde el <strong>{{ start_date }}</strong> hasta el <strong>{{ end_date }}</strong> </p>
    </article>

    <section>
        <div class="two-columns-grid">
            <article class="filter-options">
                <form action="/bulletins" method="GET">
                    <div class="input-container">
                        <label for="start_date">Fecha de inicio</label>
                        <input type="date" name="start_date" id="start_date" value="{{ start_date }}">
                    </div>
                    
                    <div class="input-container">
                        <label for="end_date">Fecha de fin</label>
                        <input type="date" name="end_date" id="end_date" value="{{ end_date }}">   
                    </div>
                    
                    <div class="input-container">
                        <label for="zone">Localización</label>
                        <select name="zone" id="zone" value="{{ zone.name }}">
                            <option value="all">Todas</option>
                            <option value="parking">Plaza de Toros</option>
                            <option value="street">Plaza Castilla</option>
                        </select>
                    </div>
                    
                    <input class="default-button" type="submit" value="Filtrar resultados">
                </form>
            </article>

            <article class="data-shown">
                <p id="bulletins-amount">
                    <strong>Número de boletines impresos: </strong>
                    {% if bulletins %}
                        {{ bulletins|length }}
                    {% else %}
                        0
                    {% endif %}
                </p>
                <p id="bulletins-amount">
                    <strong>Pagados con tarjeta: </strong>
                    {{ bulletins_data["paid_by_card"] }}
                </p>
                <p id="bulletins-amount">
                    <strong>Pagados con efectivo: </strong>
                    {{ bulletins_data["paid_by_cash"] }}
                </p>

                <p id="bulletins-amount">
                    <strong>Tickets de 30 minutos: </strong>
                    {{ bulletins_data["duration_of_30"]}}
                </p>

                <p id="bulletins-amount">
                    <strong>Tickets de 60 minutos: </strong>
                    {{ bulletins_data["duration_of_60"]}}
                </p>

                <p id="bulletins-amount">
                    <strong>Tickets de 90 minutos: </strong>
                    {{ bulletins_data["duration_of_90"]}}
                </p>

                <p id="bulletins-amount">
                    <strong>Tickets de 120 minutos: </strong>
                    {{ bulletins_data["duration_of_120"]}}
                </p>

            </article>
        </div>


        <h2>Boletines</h2>
        <article class="tickets-record">
           
            {% if bulletins %}
                {% for bulletin in bulletins %}
                    <div class="ticket" style="background-image: url('{{ url_for('static', filename='assets/bulletins/bulletin.png') }}');">

                        <div class="on-ticket-info">
                            <p><strong>{{ bulletin.created_at }}</strong></p>
                            <p><strong>{{ bulletin.duration }}</strong></p>
                            <p><strong>{{ bulletin.registration }}</strong></p>
                        </div>
                        <div class="all-ticket-info">
                            <p>Fecha de impresión: <strong>{{ bulletin.created_at }}</strong></p>
                            <p>Id del responsable: <strong>{{ bulletin.responsible_id }}</strong></p>
                            <p>Duración: <strong>{{ bulletin.duration }}</strong></p>
                            <p>Precio: <strong>{{ bulletin.price }}</strong></p>
                            <p>
                                Método de pago: 
                                <strong> 
                                    {% if bulletin.paid == true %}
                                        Tarjeta
                                    {% else %}
                                        Efectivo
                                    {% endif %}
                                </strong>
                            </p>
                            <p>Matrícula: <strong>{{ bulletin.registration }}</strong></p>
                            <p>Localización: <strong>{{ bulletin.zone.name }}</strong></p>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>No hay boletines para mostrar</p>
            {% endif %}
        </article>
    </section>

    <script>

    </script>
{% endblock %}