{% extends "base.html" %}

{% block title %} Boletines {% endblock %}

{% block content %}
    
    <h1>Administración de Boletines</h1>
    {# PAGE DATA #}

    <section class="filter-section">
        <article class="filter-options">
            <form action="" method="GET">
                <div class="input-container">
                    <label for="start_date">Fecha de inicio</label>
                    <input type="date" name="start_date" id="start_date" value="{{ start_date }}">
                </div>
                
                <div class="input-container">
                    <label for="end_date">Fecha de fin</label>
                    <input type="date" name="end_date" id="end_date" value="{{ end_date }}">   
                </div>
                
                <div class="input-container">
                    <label for="zone">Zona</label>
                    <select name="zone" id="zone">
                        <option value="all">Todas</option>
                        {% if available_zones %}
                            {% for available_zone in available_zones %}
                                {% if available_zone.name == zone.name %} 
                                    <option value="{{ available_zone.name }}" selected>
                                        {{ available_zone.name }}
                                    </option>
                                {% else %}
                                    <option value="{{ available_zone.name }}">
                                        {{ available_zone.name }}
                                    </option>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </select>
                </div>
                
                
                <button class="default-button" type="submit" >
                    Filtrar resultados
                    <embed src="{{ url_for('static', filename='assets/icons/loup-icon.svg') }}" width="22" height="22" fill="white"> </embed>
                </button>
            </form>
        </article>

        <article class="selected-date">
            <p>Mostrando boletines creados desde el <strong>{{ start_date }}</strong> hasta el <strong>{{ end_date }}</strong> </p>
        </article>
    </section>

    <section>
        <article class="data-shown" style="text-align: center;">
            <p>
                <b>Número de boletines impresos: </b>
                <strong>
                    {% if bulletins %}
                        {{ bulletins|length }}
                    {% else %}
                        0
                    {% endif %}
                </strong>
            </p>
            <p>
                Pagados: 
                <strong>{{ bulletins_data["paid"] }}</strong>
            </p>
            <p>
                Aún por pagar: 
                <strong>{{ bulletins_data["not_paid"] }}</strong>
            </p>

            <p>
                <b>Ingresos totales: </b>{{ bulletins_data.total_income }} €
            </p>

        </article>
    </section>
    <section class="flex-content">
        <article class="data-shown bulletin-box">
            <p>
                <strong>Nº boletines de 30 minutos: </strong>
                {{ bulletins_data["duration_of_30"]}}
            </p>

            <p id="bulletins-amount bulletin-box">
                <strong>Ingresos por boletines de 30 minutos: </strong>
                {{ bulletins_data["total_income_by_30"]}} €
            </p>
        </article>
        <article class="data-shown bulletin-box">

            <p>
                <strong>Nº boletines de 60 minutos: </strong>
                {{ bulletins_data["duration_of_60"]}}
            </p>

            <p>
                <strong>Ingresos por boletines de 60 minutos: </strong>
                {{ bulletins_data["total_income_by_60"]}} €
            </p>
        </article>
        <article class="data-shown bulletin-box">
            <p>
                <strong>Nº boletines de 90 minutos: </strong>
                {{ bulletins_data["duration_of_90"]}}
            </p>
            <p>
                <strong>Ingresos por boletines de 90 minutos: </strong>
                {{ bulletins_data["total_income_by_90"]}} €
            </p>
        </article>

        <article class="data-shown bulletin-box">

            <p>
                <strong>Nº boletines de 120 minutos: </strong>
                {{ bulletins_data["duration_of_120"]}}
            </p>
            <p>
                <strong>Ingresos por boletines de 120 minutos: </strong>
                {{ bulletins_data["total_income_by_120"]}} €
            </p>

        </article>
    </section>

    <section class="record-wrapper">
        
        <h2>Registro de Boletines</h2>
        <div class="record" id="record">
            {% if bulletins_data %}
                {% if bulletins_data["bulletins_amount"] == 0 %}
                    <p>No hay tickets que mostrar</p>
                {% endif %}
            {% else %}
                <p>No hay tickets que mostrar</p>
            {% endif %}
        </div>
        
        <div class="loader" id="loadMoreBulletinsTrigger"></div>

    </section>

    <script type="module" src="{{ url_for('static', filename='js/lazy_bulletins.js')}}" data-main></script>
{% endblock %}