{% extends "base.html" %}

{% block title %} Boletines {% endblock %}

{% block content %}
    
    <h1 class="center-text">Administración de Boletines</h1>
    {# PAGE DATA #}

    <section class="filter-section">
        <article class="filter-options">
            <h2>Filtrar Resultados: </h2>
            <form action="" method="GET">
                <div class="input-container">
                    <label for="start_date">Fecha de inicio</label>
                    <input type="date" name="start_date" id="start_date" value="{{ start_date }}">
                </div>
                
                <div class="input-container">
                    <label for="end_date">Fecha de fin</label>
                    <input type="date" name="end_date" id="end_date" value="{{ end_date }}">   
                </div>
                
                <div class="input-container">
                    <label for="zone">Zona</label>
                    <select name="zone" id="zone">
                        <option value="all">Todas</option>
                        {% if available_zones %}
                            {% for available_zone in available_zones %}
                                {% if available_zone.name == zone.name %} 
                                    <option value="{{ available_zone.name }}" selected>
                                        {{ available_zone.name }}
                                    </option>
                                {% else %}
                                    <option value="{{ available_zone.name }}">
                                        {{ available_zone.name }}
                                    </option>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </select>
                </div>
                
                
                <button class="default-button" type="submit" >
                    Filtrar resultados
                    <embed src="{{ url_for('static', filename='assets/icons/loup-icon.svg') }}" width="22" height="22" fill="white"> </embed>
                </button>
            </form>
        </article>

        <div>
            <article class="selected-date">
                <p>Mostrando boletines creados desde el <strong>{{ start_date }}</strong> hasta el <strong>{{ end_date }}</strong> </p>
            </article>
            <article>
                <h2>Administrar Boletines Disponibles</h2>
                <a href="/bulletins/available-bulletins" class="default-button" style="margin: 0 0 0 auto;">Administrar</a>
            </article>
        </div>
    </section>

    <section class="two-columns-grid">
        <article class="data-shown">

            <h2 class="title">Resumen de Boletines</h2>
            {% if bulletins_data %}
                <p>
                    <b>Boletines impresos: </b>
                    <strong>{{ bulletins_data.bulletins_amount }}</strong>
                </p>
                <p>
                    Anulados:
                    <strong>{{ bulletins_data.paid_amount }}</strong>
                </p>
                <p>
                    Aún por anular:
                    <strong>{{ bulletins_data.not_paid_amount }}</strong>
                </p>
                <p>
                    Pagados con efectivo: 
                    <strong>{{ bulletins_data.paid_by_cash }}</strong>
                </p>

                <p>
                    <b>
                        Ingresos totales: 
                    </b>
                    <strong>{{ bulletins_data.total_income }} €</strong>
                </p>
            
            {% else %}
                <h2 id="tickets-amount">
                    Boletines impresos: 
                    <strong>0</strong>
                </h2>
            {% endif %}
        </article>


        <article>
            <h2 class="title">Resumen por duración</h2>
            <div class="tickets-resume">
                {% if bulletins_data %}
                    {% for bulletins_data_by_duration in bulletins_data.data_by_duration %}
                        <div class="tickets-resume-by-duration bulletin-box">
                            <p>
                                <b>{{ bulletins_data_by_duration.duration }}: </b>
                                <strong>{{ bulletins_data_by_duration.amount }}</strong>
                            </p>
                            <p>
                                Anulados:
                                <strong>{{ bulletins_data_by_duration.paid_amount }}</strong>
                            </p>
                            <p>
                                Aún por anular:
                                <strong>{{ bulletins_data_by_duration.not_paid_amount }}</strong>
                            </p>
                            <p>
                                Pagados con tarjeta:
                                <strong>{{ bulletins_data_by_duration.paid_by_card }}</strong>
                            </p>
                            <p>
                                Pagados con efectivo: 
                                <strong>{{ bulletins_data_by_duration.paid_by_cash }}</strong>
                            </p>

                            <p>
                                Integresos totales: 
                                <strong>{{ bulletins_data_by_duration.total_income }}</strong>
                            </p>
                        </div>

                    {% endfor %}
                {% else %}
                    <h2 id="tickets-amount">
                        No hay boletines que mostrar
                    </h2>
                {% endif %}
            </div>

        </article>

    </section>
    <section class="record-wrapper">
        
        <h2>Registro de Boletines</h2>
        <div class="record" id="record">
            {% if bulletins_data %}
                {% if bulletins_data["bulletins_amount"] == 0 %}
                    <p>No hay tickets que mostrar</p>
                {% endif %}
            {% else %}
                <p>No hay tickets que mostrar</p>
            {% endif %}
        </div>
        
        <div class="loader" id="loadMoreBulletinsTrigger"></div>

    </section>

    <script type="module" src="{{ url_for('static', filename='js/lazy_bulletins.js')}}" data-main></script>
{% endblock %}