{% extends "base.html" %}

{% block title %} Zones {% endblock %}

{% block content %}

    <div class="page-title">
        <a class="come-back-button" href="/zones"> 
            <!-- Create an image linking to static/assets/icons/ -->
            <img src="{{ url_for('static', filename='/assets/icons/arrow-left.svg') }}" alt="Volver">
            <span>Volver</span>
        </a>

        <h1>{{ zone.name }}</h1>
    </div>

    <section class="three-columns-grid">
        <div class="default-box">
            <article>
                <h2>Información</h2>
                <p>Nombre: <strong>{{ zone.name }}</strong></p>
                <ul>
                    {% if users %}
                        {% if users|length == 0 %}
                            <li>No hay usuarios asignados</li>
                        {% endif %}
                        {% for user in users %}
                            <li>{{ user.name }}</li>
                        {% endfor %}
                    {% endif %}
                </ul>
                <p>
                    Cantidad de tickets impresos: <strong> {{ tickets_data["tickets_amount"] }}</strong>
                </p>
                <p>
                    Cantidad de boletines impresos: <strong> {{ bulletins_data["bulletins_amount"] }}</strong>
                </p>
            </article>

            <article class="selected-date">
                <p>Mostrando resultados desde el <strong>{{ start_date }}</strong> hasta el <strong>{{ end_date }}</strong> </p>
            </article>
        </div>
        <div>
            <article>
                <h2>Editar</h2>
                <form class="general-form" action="/zones/zone/{{ zone.id }}/edit" method="post" class="general-form">
                    <label for="name">Actualizar nombre: </label>
                    <input type="text" name="name" id="name" value="{{ zone.name }}" required>
                    <input class="default-button" type="submit" value="Actualizar">
                </form>
            </article>
            <article>
                <form action="/zones/delete/{{ zone.id }}" method="GET" id="delete-zone">

                    <h2>Eliminar zona</h2>
                    <div class="two-columns-grid">
                        <div>
                            <p>Esta acción es irreversible</p>
                        </div>
                        <button class="default-button" id="delete-zone-button">Eliminar Zona</button>
                    </div>
                </form>
            </article>
        </div>
        <article>
            
            <h2>Generación de reportes</h2>
            <p>Selecciona la fecha sobre la cual quieres realizar el reporte de {{ zone.name }} </p>
            <form class="general-form" action="/zones/zone/{{ zone.id }}/generate-report" method="GET">
                <div class="two-columns-flex">
                    
                    <div class="input-container">
                        <label for="start_date">Fecha de inicio</label>
                        <input type="date" name="start_date" id="start_date" value="{{ start_date }}">
                    </div>
                        
                    <div class="input-container">
                        <label for="end_date">Fecha de fin</label>
                        <input type="date" name="end_date" id="end_date" value="{{ end_date }}">   
                    </div>
                        
                </div>

                    
                <label for="zone">Objeto del reporte: </label>
                <select name="report_object" value="Tickets">
                    <option value="Tickets" selected>
                        Tickets
                    </option>
                    <option value="Bulletins">
                        Boletines
                    </option>
                    <option value="Both">
                        Ambos
                    </option>
                </select>
                <input class="default-button" type="submit" value="Generar Reporte">
            </form>
        </article>
        
    </section>


    {# ------------------------------------------------------- RECORD ------------------------------------------------------- #}

    <div class="blanck-height"></div>
    
    <h1 class="center-text">Registro de Tickets y boletines impresos en {{ zone.name }}</h1>

    <script type="module" src="{{ url_for('static', filename='js/zone_details.js') }}"></script>

    <section class="filter-section">
        <article class="filter-options">
            <h2>Filtrar resultados</h2>
            <form action="#results-form" id="results-form" method="GET">
                <div class="input-container">
                    <label for="start_date">Fecha de inicio</label>
                    <input type="date" name="start_date" id="start_date" value="{{ start_date }}">
                </div>
                
                <div class="input-container">
                    <label for="end_date">Fecha de fin</label>
                    <input type="date" name="end_date" id="end_date" value="{{ end_date }}">   
                </div>
                
                <button class="default-button" type="submit" >
                    Filtrar resultados
                    <embed src="{{ url_for('static', filename='assets/icons/loup-icon.svg') }}" width="22" height="22" fill="white"> </embed>
                </button>
            </form>
        </article>
        <div class="default-box">
            <article class="selected-date">
                <p>Mostrando resultados desde el <strong>{{ start_date }}</strong> hasta el <strong>{{ end_date }}</strong> </p>
            </article>
            <article class="selected-date">
                <p>Cantidad de tickets impresos: <strong>{{ tickets_data["tickets_amount"] }}</strong></p>
                <p>Cantidad de boletines impresos: <strong>{{ bulletins_data["bulletins_amount"] }}</strong></p>
            </article>
        </div>
    </section>
    

    <article class="selector two-columns-grid">
        <div>
            <h2>Selección</h2>
            <p>Selecciona el tipo de registro que quieres ver</p>
        </div>
        <div class="two-columns-grid">
            <button id="tickets-button" class="default-button selected">
                Tickets
            </button>
            <button id="bulletins-button" class="default-button">
                Boletines
            </button>
        </div>
    </article>

    {# PAGE DATA #}



    <section id="tickets-record-wrapper" class="record-wrapper">
        <h2>Tickets creados en {{ zone.name }}.</h2>
        <div class="record" id="tickets-record">
            {% if tickets_data %}
                {% if tickets_data["tickets_amount"] == 0 %}
                    <p>No hay tickets que mostrar</p>
                {% endif %}
            {% else %}
                <p>No hay tickets que mostrar</p>
            {% endif %}
        </div>

        {% if tickets_data %}
            {% if tickets_data["tickets_amount"] > 0 %}
                <span class="loader" id="loadMoreTicketsTrigger"></span>
            {% endif %}
        {% endif %}
        </article>

    </section>
    <section id="bulletins-record-wrapper" class="record-wrapper hidden">
        <h2>Boletines creados en {{ zone.name }}.</h2>
        
        <div class="record" id="bulletins-record">
            {% if bulletins_data %}
                {% if bulletins_data["bulletins_amount"] == 0 %}
                    <p>No hay tickets que mostrar</p>
                {% endif %}
            {% else %}
                <p>No hay tickets que mostrar</p>
            {% endif %}
        </div>
        
        {% if bulletins_data %}
            {% if bulletins_data["bulletins_amount"] > 0 %}
                <div class="loader" id="loadMoreBulletinsTrigger"></div>
            {% endif %}
        {% endif %}

        </article>
    </section>
{% endblock %}