{% extends "base.html" %}

{% block title %} Zonas {% endblock %}

{% block content %}

    <a class="come-back-button" href="/zones"> 
        <!-- Create an image linking to static/assets/icons/ -->
        <img src="{{ url_for('static', filename='/assets/icons/arrow-left.svg') }}" alt="Volver">
        <span>Volver</span>
    </a>

    <section>
        <div class="form-wrapper">
            <h2>Crear zona</h2>
            <form action="/zones/create-zone" method="post" class="general-form">
                <label for="name">Nombre</label>
                <input type="text" name="name" id="name" placeholder="Introduce el nombre de la zona" required>
                
                <input class="default-button" type="submit" value="Crear">
            </form>
        </div>

    </section>
{% endblock %}
