{% extends "base.html" %}

{% block title %} Resumen {% endblock %}

{% block content %}

    <div class="page-title">
        <h1>Administración de zonas</h1>
    </div>
    <section class="left-section">
        <article class="two-columns-flex">
            <p>
                Cantidad de zonas: <strong>{{ zones|length }}</strong>
            </p>
            <a href="/zones/create" class="default-button">Crear Zona + </a>
        </article>
    </section>

    {# PAGE DATA #}
    <section class="record-wrapper">
        <h2>Zonas Actuales</h2>
        
        <div class="cards">
            {% if zones|length == 0 %}
                <p>Aún no hay zonas creadas</p>
                <a href="/zones/create" class="default-button">Crear Zona</a>
            {% endif %}
            {% for zone in zones %}
                <div class="zone-card">
                    <h3> <b>{{ zone.name }}</b></h3>
                    <a href="/zones/zone/{{ zone.id }}" class="default-button">Ver zona</a>
                </div>
            {% endfor %}
            </div>

    </section>
{% endblock %}
