{% extends "base.html" %}

{% block title %} Zonas {% endblock %}

{% block content %}

    <h1>Administración de zonas</h1>

    <section>
        <div class="form-wrapper">
            <h2>Crear zona</h2>
            <form action="/zones/create-zone" method="post" class="general-form">
                <div>
                    <label for="name">Nombre</label>
                    <br/>
                    <input type="text" name="name" id="name" required>
                </div>
                <div>
                    <!-- 
                    <label for="role">Añadir responsables</label>
                    <br/>
                    {% if users|length != 0 %}
                        {% for user in users %}
                            <input type="checkbox" name="users[]" value="{{ user.id }}"> {{ user.name }} <br/>
                        {% endfor %}
                    {% else %}
                        <span style="font-size: 12px;">No hay usuarios creados</span>
                    {% endif %}
                     -->
                </div>
                
                <input class="default-button" type="submit" value="Crear">
            </form>
        </div>

    </section>
{% endblock %}
