{% extends "base.html" %}

{% block title %} Usuarios {% endblock %}

{% block content %}

    <h1>Administración de usuarios</h1>

    <section>
        <article class="two-columns-flex">
            <p>
                Cantidad de usuarios: <strong>{{ users|length }}</strong>
            </p>
            <a href="/users/create" class="default-button">Crear Usuario</a>
        </article>
    </section>

    {# PAGE DATA #}
    <section class="record-wrapper">
        <h2>Usuarios Actuales</h2>
        
        <article class="cards">
            {% for user in users %}
                <div class="user-card">
                    <h3> <b>{{ user.name }}</b></h3>
                    <p> <b>Email:</b> {{ user.email }}</p>
                    <p><b>Zona:</b> {{ user.zone }}</p>
                    <a href="/users/user/{{ user.id }}" class="default-button">Ver usuario</a>
                </div>
            {% endfor %}
        </article>

    </section>
{% endblock %}
