{% extends "base.html" %}

{% block title %} Usuarios {% endblock %}

{% block content %}

    <h1>{{ user.name }}</h1>
    
    <section>
        <article>
            <h2>Información</h2>
            <p>Nombre de usuario: <strong>{{ user.name }}</strong></p>
            <p>Email: <strong>{{ user.email }}</strong></p>
            <p>Rol: <strong>{{ user.role.value }}</strong></p>
        </article>
        <article class="filter-options">
            <form action="/users/user/{{ user.id }}/generate-report" method="GET">
                <div class="input-container">
                    <label for="start_date">Fecha de inicio</label>
                    <input type="date" name="start_date" id="start_date" value="{{ start_date }}">
                </div>
                    
                <div class="input-container">
                    <label for="end_date">Fecha de fin</label>
                    <input type="date" name="end_date" id="end_date" value="{{ end_date }}">   
                </div>
                    
                    
                <input class="default-button" type="submit" value="Generar Reporte">
            </form>
        </article>

        <article>
            <h2>Editar</h2>
            <form action="/users/{{ user.id }}/edit" method="post" class="general-form">
                <label for="username">Nombre de usuario</label>
                <input type="text" name="username" id="username" value="{{ user.name }}" required>
                <label for="password">Contraseña</label>
                <input type="password" name="password" id="password" required>
                <label for="email">Email</label>
                <input type="email" name="email" id="email" value="{{ user.email }}" required>
                <label for="role">Rol</label>
                <select name="role" id="role">
                    <option value="admin" {% if user.role == 'admin' %} selected {% endif %}>Administrador</option>
                    <option value="user" {% if user.role == 'user' %} selected {% endif %}>Usuario</option>
                </select>
                <input class="default-button" type="submit" value="Actualizar">
            </form>
        </article>
        <article class="two-columns-grid">
            <div>
                <h2>Eliminar</h2>
                <p>¿Estás seguro de que quieres eliminar este usuario?</p>
            </div>
            <div>
                <!-- Create a form that open a confirmation model before making the request -->
                <form action="/users/user/{{ user.id }}/delete" method="POST" id="delete-user">
                    <button class="default-button">Eliminar Usuario</button>
                </form>
            </div>
        </article>
        <article>
            Cantidad de tickets impresos: <strong>{{ tickets|length }}</strong>
        </article>
    </section>

    {# PAGE DATA #}
    <section>
        <h2>Tickets impresos por este usuario</h2>
        
        <article class="tickets-record">
            {% if tickets %}
                {% for ticket in tickets %}
                    <div class="ticket" style="background-image: url('{{ url_for('static', filename='assets/tickets/' + ticket.duration|string + '.png') }}');">

                        <div class="on-ticket-info">
                            <p><strong>{{ ticket.created_at }}</strong></p>
                            <p><strong>{{ ticket.duration }}</strong></p>
                            <p><strong>{{ ticket.registration }}</strong></p>
                        </div>
                        <div class="all-ticket-info">
                            <p>Fecha de impresión: <strong>{{ ticket.created_at }}</strong></p>
                            <p>Id del responsable: <strong>{{ ticket.responsible_id }}</strong></p>
                            <p>Duración: <strong>{{ ticket.duration }}</strong></p>
                            <p>Precio: <strong>{{ ticket.price }}</strong></p>
                            <p>
                                Método de pago: 
                                <strong> 
                                    {% if ticket.paid == true %}
                                        Tarjeta
                                    {% else %}
                                        Efectivo
                                    {% endif %}
                                </strong>
                            </p>
                            <p>Matrícula: <strong>{{ ticket.registration }}</strong></p>
                            <p>Localización: <strong>{{ ticket.zone.name }}</strong></p>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>No hay tickets para mostrar</p>
            {% endif %}

        </article>

    </section>

    <script>

    </script>
{% endblock %}
