{% extends "base.html" %}

{% block title %} Usuarios {% endblock %}

{% block content %}

    <a class="come-back-button" href="/users"> 
        <!-- Create an image linking to static/assets/icons/ -->
        <img src="{{ url_for('static', filename='/assets/icons/arrow-left.svg') }}" alt="Volver">
        <span>Volver</span>
    </a>

    <h1>Información sobre el usuario</h1>
    <section class="three-columns-grid">
        <div>
            <article>
                <h2>Datos de {{ user.name }}</h2>
                <p>Nombre de usuario: <strong>{{ user.name }}</strong></p>
                <p>Email: <strong>{{ user.email }}</strong></p>
                <p>Rol: <strong>{{ user.role.value }}</strong></p>
                <p>Cantidad de tickets impresos: <strong>{{ tickets_data["tickets_amount"] }}</strong></p>
                <p>Cantidad de boletines impresos: <strong>{{ bulletins_data["bulletins_amount"] }}</strong></p>
                <p>Zona Asignada: <strong>{{ user.associated_zone.name }}</strong></p>
            </article>
            <article class="selected-date">
                <p>Mostrando tickets creados desde el <strong>{{ start_date }}</strong> hasta el <strong>{{ end_date }}</strong> </p>
            </article>
        </div>
        <article class="form-container">
            <h2>Editar usuario</h2>
            <form action="/users/user/{{ user.id }}/edit" method="POST" class="general-form">
                <label for="name">Nombre de usuario</label>
                <input type="text" name="name" id="name" value="{{ user.name }}">
                <label for="password">Contraseña</label>
                <input type="text" name="password" id="password">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" value="{{ user.email }}">
                <label for="role">Rol</label>
                <select name="role" id="role">
                    <option value="ADMIN" {% if user.role.value == 'ADMIN' %} selected {% endif %}>Administrador</option>
                    <option value="MANAGER" {% if user.role.value == 'MANAGER' %} selected {% endif %}>Manager</option>
                    <option value="EMPLOYEE" {% if user.role.value == 'EMPLOYEE' %} selected {% endif %}>Empleado</option>
                </select>
                <input class="default-button" type="submit" value="Actualizar">
            </form>
        </article>

        <div class="default-box">
            <article>
                <h2>Zona asignada</h2>
                <p>Acualmente en <strong>{{ user.associated_zone.name }}</strong></p>
                <form class="general-form" action="/users/user/{{ user.id }}/assign-zone" method="POST">
                    <label for="zone">
                        Asignar nueva zona
                    </label>
                    <select name="zone" value="{{ user.associated_zone.name }}">
                        {% for zone in zones %}
                            {% if zone.name == user.associated_zone.name %} 
                                <option value="{{ zone.name }}" selected>
                                    {{ zone.name }}
                                </option>
                            {% else %}
                                <option value="{{ zone.name }}">
                                    {{ zone.name }}
                                </option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <button class="default-button" type="submit">Asignar</button>
                </form>
            </article>
            <article>
                <form class="general-form" action="/users/user/{{ user.id }}/delete" method="POST" id="delete-user">
                    <h2>Eliminar usuario</h2>
                    <p>Esta acción es irreversible</p>
                    <button class="default-button">Eliminar Usuario</button>
                </form>
            </article>
        </div>

    </section>

    {# ------------------------------------------------------- RECORD ------------------------------------------------------- #}

    <div class="blanck-height"></div>
    
    <h1>Registro de Tickets y boletines impresos por {{ user.name }}</h1>

    <script type="module" src="{{ url_for('static', filename='js/user_details.js') }}"></script>

    <section class="filter-section">
        <article class="filter-options">
            <h2>Filtrar resultados</h2>
            <form action="" method="GET">
                <div class="input-container">
                    <label for="start_date">Fecha de inicio</label>
                    <input type="date" name="start_date" id="start_date" value="{{ start_date }}">
                </div>
                
                <div class="input-container">
                    <label for="end_date">Fecha de fin</label>
                    <input type="date" name="end_date" id="end_date" value="{{ end_date }}">   
                </div>
                
                <div class="input-container">
                    <label for="zone">Zona</label>
                    <select name="zone" id="zone">
                        <option value="all">Todas</option>
                        {% if zones %}
                            {% for available_zone in zones %}
                                {% if available_zone.name == zone.name %} 
                                    <option value="{{ available_zone.name }}" selected>
                                        {{ available_zone.name }}
                                    </option>
                                {% else %}
                                    <option value="{{ available_zone.name }}">
                                        {{ available_zone.name }}
                                    </option>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </select>
                </div>
                
                <button class="default-button" type="submit" >
                    Filtrar resultados
                    <embed src="{{ url_for('static', filename='assets/icons/loup-icon.svg') }}" width="22" height="22" fill="white"> </embed>
                </button>
            </form>
        </article>
    </section>
    
    <section class="two-columns-grid">
        <article class="selector">
            <div>
                <h2>Selección</h2>
                <p>Selecciona el tipo de registro que quieres ver</p>
            </div>
            <div class="two-columns-grid">
                <button id="tickets-button" class="default-button selected">
                    Tickets
                </button>
                <button id="bulletins-button" class="default-button">
                    Boletines
                </button>
            </div>
        </article>

        <article class="filter-options">
            <h2>Generación de reportes</h2>
            <form action="/users/user/{{ user.id }}/generate-report" method="GET">
                <div class="input-container">
                    <label for="start_date">Fecha de inicio</label>
                    <input type="date" name="start_date">
                </div>
                    
                <div class="input-container">
                    <label for="end_date">Fecha de fin</label>
                    <input type="date" name="end_date">   
                </div>
                    
                <input class="default-button" type="submit" value="Generar Reporte">
            </form>
        </article>
    </section>

    <section id="tickets-record-wrapper" class="record-wrapper">
        <h2>Tickets creados por {{ user.name }}.</h2>
        <div class="record" id="tickets-record">
            {% if tickets_data %}
                {% if tickets_data["tickets_amount"] == 0 %}
                    <p>No hay tickets que mostrar</p>
                {% endif %}
            {% else %}
                <p>No hay tickets que mostrar</p>
            {% endif %}
        </div>

        {% if tickets_data %}
            {% if tickets_data["tickets_amount"] > 0 %}
                <span class="loader" id="loadMoreTicketsTrigger"></span>
            {% endif %}
        {% endif %}
    </section>


    <section id="bulletins-record-wrapper" class="record-wrapper hidden">
        <h2>Boletines creados por {{ user.name }}.</h2>
        <div class="record" id="bulletins-record">
            {% if bulletins_data %}
                {% if bulletins_data["bulletins_amount"] == 0 %}
                    <p>No hay tickets que mostrar</p>
                {% endif %}
            {% else %}
                <p>No hay tickets que mostrar</p>
            {% endif %}
        </div>
        
        {% if bulletins_data %}
            {% if bulletins_data["bulletins_amount"] > 0 %}
                <div class="loader" id="loadMoreBulletinsTrigger"></div>
            {% endif %}
        {% endif %}

    </section>
    
{% endblock %}
