{% extends "base.html" %}

{% block title %} Usuarios {% endblock %}

{% block content %}

    <a class="come-back-button" href="/users"> 
        <!-- Create an image linking to static/assets/icons/ -->
        <img src="{{ url_for('static', filename='/assets/icons/arrow-left.svg') }}" alt="Volver">
        <span>Volver</span>
    </a>
    
    <h1>Administración de usuarios</h1>

    <section>
        <h2>Crear usuario</h2>
        <div class="form-wrapper">
            <form action="/users/create-user" method="post" class="general-form">
                <div>
                    <label for="name">Nombre</label>
                    <br/>
                    <input type="text" name="name" id="name" required>
                </div>
                <div>
                    <label for="email">Email</label>
                    <br/>
                    <input type="email" name="email" id="email" required>
                </div>
                <div>
                    <label for="password">Contraseña</label>
                    <br/>
                    <input type="password" name="password" id="password" required>
                </div>
                <div>
                    <label for="role">Rol</label>
                    <br/>
                    <select name="role" id="role">
                        <option value="ADMIN">Administrador</option>
                        <option value="MANAGER">Gerente</option>
                        <option value="EMPLOYEE">Empleado</option>
                    </select>
                </div>
                
                <input class="default-button" type="submit" value="Crear">
            </form>
        </div>

    </section>
{% endblock %}
