
/* font.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins');


/* Define the colors here */
:root {
  --primary: #376e2e;
  --white: #ffffff;
  --black: #000000;
  --dark_green: #1c4528;
  --green: #45a584;
  --light_green: #ddfaf0;
  --light_green_selected: #95e8c9;
  --dark_blue: darkblue;
  --green_button: #559f97;
  --background: #FFFFFF;
  --button_selected: #95e8c9;
  --button_unselected: #e0e0e0;
  --error_color: red;
}


*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.container {
  display: grid;
  grid-template-columns: 160px 6fr;
  grid-template-rows: 1fr 9fr;
  grid-template-areas:
    "menu content"
    "menu content";
  height: 100vh;
}

.sidebar {
  grid-area: menu;
  background-color: white;
  display: grid;
  grid-template-rows: 60px 1fr 60px;
  align-items: space-between;
  padding: 0px;
  max-height: 100vh;
  border-right: 1px solid #45a583b9;
}

header {
  padding: 10px;
  text-align: center;
}

header .img-logo {
  margin-top: -28px;
}

nav {
  padding: 80px 0;
}

nav ul {
  list-style: none;
  padding: 0;
  width: 100%;
  margin: 0;
}

nav ul li {
  margin: 0;
  padding: 0;
}

nav a {
  display: inline-block;
  width: 94%;
  height: fit-content;
  text-decoration: none;
  color: var(--dark_green);
  padding: 8px 16px;
  margin: 0;
  text-align: left;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
  cursor: pointer;
}

nav a:hover {
  background-color: #39866b;
  color: white;
  cursor: pointer;
}

nav a.selected {
  background-color: #45a584;
  color: white;
  cursor: pointer;
}


.capital-letter {
  text-transform: capitalize;
}

.session-name {
  font-size: 12px;
  padding: 8px 16px;
  font-style: italic;
}

.logout-container {
  display: flex;
  align-items: flex-end;
}

.logout-container a {
  display: block;
  color: var(--dark_green);
  padding: 8px 16px;
}

.logout-container a:hover {
  background-color: #39866b;
  color: white;
  width: 100%;
}

main {
  grid-area: content;
  background: linear-gradient(-60deg, rgb(243, 255, 244) 0%, rgb(255, 255, 255) 50%, rgb(225, 255, 246) 100%);
  padding: 40px 20px;
  display: grid;
  overflow-y: scroll;
}

main > h1, h2 {
  color: var(--dark_green);
}


main h1 {
  margin-bottom: 40px;
}

main > h2, h3 {
  margin-top: 40px;
}


main section {
  display: grid;
  place-items: center;
  width: 100%;
  margin: 10px 0 10px 0;
}


main h2 {
  margin-bottom: 20px;
}


article {
  margin: 10px 0;
  padding: 32px 20px;
  border: 1px solid #45a583b9;
  background-color: white;
  width: 100%;
}

article h1, article h2, article h3 {
  color: var(--dark_green);
  text-shadow: none;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: default;
}

p {
  color: var(--dark_green);
}

input {
  font-size: 14.8px;
}

input[type=submit] {
  cursor: pointer;
}

select {
  font-size: 16px;
  padding: 6px 12px;
  border-radius: 8px;
  background-color: var(--green);
  color: white;
  width: 100%;
  cursor: pointer;
}

.center-text {
  text-align: center;
}



.messages {
  position: absolute;
  inset: auto 40px 20px auto;
  list-style: none;
  margin: 0;
}

.messages .alert-success {
  background-color: rgb(186, 255, 196);
  border-radius: 6px;
  box-shadow: 2px 2px 40px 2px rgba(18, 77, 37, 0.2);
  padding: 20px;
  max-width: 400px;
  border: 2px solid rgb(30, 255, 0);
}

.messages .alert-error {
  background-color: rgb(255, 186, 186);
  border-radius: 6px;
  box-shadow: 2px 2px 40px 2px rgba(18, 77, 37, 0.2);
  padding: 20px;
  max-width: 400px;
  border: 2px solid rgba(255, 0, 4);
}



.img-logo {
  width: 128px;
  height: auto;
  margin: 0 0 auto 0;
  display: block;
}

.icon-logo {
  width: 40px;
  height: 40px;
  display: block;
  margin: 0 auto;

}


.login-container {
  display: grid;
  place-items: center;
  height: 100vh;
  background: linear-gradient(-60deg, rgb(243, 255, 244) 0%, rgb(255, 255, 255) 50%, rgb(225, 255, 246) 100%);
}

.login {
  max-width: 400px;
  background-color: white;
  padding: 40px 20px;
  display: grid;
  text-align: center;
  place-items: center;
  gap: 20px;
  border: 1px solid #45a583b9;
}

.login span {
  display: block;
  font-size: 14px;
  margin-top: 20px;
}

.login h1 {
  text-align: center;
  margin-bottom: 20px;
}

.login input {
  width: 100%;
  margin-bottom: 20px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #35523e5a;
}

.login .img-container {
  margin: -40px 0 -20px 0;

}

.login button {
  width: 100%;
  display: block;
  margin: 20px 0 0 auto;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.login button:hover {
  background-color: #559f97;
}


form .default-button {
  justify-self: flex-end;
}


.default-box {
  width: 100%;
}


.secundary-button {
  display: block;
  width: 100%;
  padding: 10px 20px;
  margin: 8px 0;
  height: fit-content;
  background-color: white;
  border-radius: 24px;
  border: 1px solid #35523e;
  color: #35523e;
  line-height: 1em;
  font-weight: bold;
  transition: background-color 0.3s ease;
  font-weight: bold;
  cursor: pointer !important;
  font-size: 16px;
  transition: color .2s ease;
}

.secundary-button:hover {
  background: linear-gradient(40deg, rgb(206, 255, 210) 0%, rgb(238, 255, 240) 50%, rgb(190, 255, 235) 100%);
  color: black;
}

.default-button {
  display: block;
  width: fit-content;
  padding: 10px 20px;
  margin: 8px;
  height: fit-content;
  border-radius: 24px;
  border: 1px solid #35523e;
  background: linear-gradient(-60deg, rgb(243, 255, 244) 0%, rgb(255, 255, 255) 50%, rgb(225, 255, 246) 100%);
  color: #35523e;
  line-height: 1em;
  font-weight: bold;
  transition: background-color 0.3s ease;
  font-weight: bold;
  cursor: pointer !important;
  font-size: 16px;
  transition: color .2s ease;
}

.default-button.selected {
  color: white;
  background: var(--green);
}
.default-button.selected:hover {
  color: white;
  background: #2e6d57;
}

.default-button:hover {
  background: linear-gradient(40deg, rgb(206, 255, 210) 0%, rgb(238, 255, 240) 50%, rgb(190, 255, 235) 100%);
  color: black;
}

.two-columns-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: start;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  gap: 10px;
}

.three-columns-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: start;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  gap: 12px;
}


.two-columns-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: fit-content;
}

.flex-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  width: 100%;
}


.record-wrapper {
  border: 1px solid #45a583b9;
  background-color: white;
  padding: 40px 28px;
}


.record {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  place-items: flex-start center;
  gap: 20px;
  width: 100%;
}


.data-shown {
  width: 100%;
  background-color: white;
}
.data-shown h3 {
  margin-top: 0;
}
.data-shown p{
  margin: 10px 0;
}

.data-shown strong {
  color: #008b21;
}

.data-shown .title {
  font-weight: bold;
  border-bottom: 1px solid #085922;
  padding-bottom: 10px;
  margin-bottom: 10px;
}


.filter-section {
  display: grid;
  grid-template-columns: 800px 1fr;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
  margin: 0 auto;
}


.filter-options {
  display: grid;
  grid-template-columns: 1fr;
  place-items: flex-start;
  width: 100%;
  min-width: 700px;
}


.blanck-height {
  display: block;
  width: 100%;
  height: 60px;
}



.filter-options form {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  gap: 20px;
  width: fit-content !important;
}

.filter-options form button {
  color: #35523e;
  border: 1px solid #35523e;
  display: grid;
  align-items: center;
  grid-template-columns: 4fr 1fr;
  line-height: 1em;
  font-size: 14px;
  gap: 10px;
  text-align: left;
}

.filter-options form button embed {
  max-width: 20px;
  max-height: 20px;
}


.input-container {
  margin: 10px 0;
}

.input-container label {
  margin-bottom: 10px;
  font-size: 16px;
}

.input-container *{
  display: block;
}


.filter-options h3 {
  margin-bottom: 20px;
}

.selected-date {
  width: 100%;
}

.selected-date p {
  font-size: 14px;
}


.ticket {
  width: 100%;
  position: relative;
  margin: 20px 0;
  text-align: center;
  padding: 20px;
  overflow: hidden;
  font-size: 14px;
  background: linear-gradient(60deg, rgb(252, 252, 252) 40%, var(--white));

}

.ticket h3 {
  margin: 20px auto;
  line-height: 1.1em;
  font-size: 20px;
  max-width: 90%;
}

.ticket p {
  cursor: default;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  width: fit-content !important;
}

.user-card {
  padding: 20px;
  border-radius: 12px;
  border: 1px solid #35523e5a;
  background-color: var(--light_green);
  width: 340px;
}

.user-card:hover {
  border: 1px solid #35523ea5;
  outline: 1px solid #35523ea5;
}


.user-card h3 {
  text-transform: capitalize;
  margin: 10px 0;
}

.user-card a {
  display: block;
  margin: 20px 0 0 auto
}


.come-back-button {
  height: fit-content;
  display: grid;
  grid-template-columns: 1fr auto;
  place-items: center;
  width: fit-content;
  padding: 6px 12px 6px 6px;
  margin: 8px 8px 24px 8px;
  border-radius: 12px;
  border: 1px solid #45a583b9;
  background-color: #ffffff;
  color: var(--dark_green);
  font-weight: bold;
  transition: background-color 0.3s ease;
  font-weight: 400;
  font-size: 14px;
  cursor: pointer;
}
.come-back-button:hover {
  background-color: #39866b;
  color: white;
  cursor: pointer;
}

.come-back-button img {
  width: 20px;
}

.come-back-button span {
  margin-left: 10px;
  transition: margin-left .2s ease;
}
.come-back-button:hover span {
  margin-left: 20px;
}


.form-wrapper {
  background-color: white;
  border: 1px solid #45a583b9;
  padding: 32px 20px;
  min-width: 340px;
}

.general-form {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center flex-start;
  gap: 10px;
  text-align: left;
  background-color: white;
  margin: 0px auto;
}

.general-form div {
  width: 100%;
}

.general-form label {
  display: block;
  margin: 12px 0 6px 0;
}

.general-form input {
  width: 100%;
  padding: 6px 18px;
  margin: 0 0 10px 0;
  border-radius: 24px;
  border: 1px solid var(--green)
}
.general-form input[type="submit"] {
  width: 100%;
  padding: 8px 16px;
  margin: 20px 0;
  cursor: pointer;
}

.general-form button {
  font-size: 16px;
  margin-top: 10px;
}


.zone-card {
  display: grid;
  place-items: center;
  gap: 20px;
  padding: 20px;
  border-radius: 12px;
  background-color: var(--light_green);
  border: 1px solid #35523e5a;
  width: 300px;
}


.zone-card:hover {
  border: 1px solid #35523ea5;
  outline: 1px solid #35523ea5;
}

.divider {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #35523e5a;
  margin: 20px 0;
}


.selector {
  margin-top: 20px;
  width: fit-content;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 300px;
  justify-content: space-around;
  align-items: flex-end;
}

.selector .two-columns-grid {
  margin: 0 auto;
  place-items: flex-end;
}


.yellow-box {
  border: 2px solid rgba(253, 246, 50, 0.8);
  transition: transform .1s ease;
}
.yellow-box:hover {
  box-shadow: 2px 2px 28px 2px rgba(255, 247, 0, 0.5);
  transform: scale(1.06);
}

.green-box {
  border: 2px solid rgba(58, 175, 25, 0.8);
  transition: transform .1s ease;
}
.green-box:hover {
  box-shadow: 2px 2px 28px 2px rgba(0, 230, 23, 0.5);
  transform: scale(1.06);
}

.orange-box {
  border: 2px solid rgba(255, 141, 3, 0.8);
  transition: transform .1s ease;
}
.orange-box:hover {
  box-shadow: 2px 2px 28px 2px rgba(255, 115, 0, 0.5);
  transform: scale(1.06);
}

.pink-box {
  border: 2px solid rgba(228, 68, 121, 0.8);
  transition: transform .1s ease;
}
.pink-box:hover {
  box-shadow: 2px 2px 28px 2px rgba(255, 75, 135, 0.5);
  transform: scale(1.06);
}

.bulletin-box {
  border: 2px solid rgba(63, 77, 202, 0.8);
  transition: transform .1s ease;
}
.bulletin-box:hover {
  box-shadow: 2px 2px 28px 2px rgba(75, 93, 255, 0.5);
  transform: scale(1.06);
}


.hidden {
  display: none;
}
