
/* export const colors = {
    "primary": "#1E88E5",
    "white": "#ffffff",
    "black": "#000000",
    "dark_green": "#35523e",
    "green": "#60826a",
    "light_green": "#d4faec",
    "light_green_selected": "#95e8c9",
    "dark_blue": "darkblue",
    "green_button": "#559f97",
    "background": "#FFFFFF",
    "button_selected": "#95e8c9",
    "button_unselected": "#e0e0e0",
    "error_color": "red",
} */

/* Añade los estilos para index.html utilizando un grid donde el header esté arriba, el menu a la izquierda y el contenido en el espacio sobrante, teniendo en cuenta que este es scrolleable (no la pagina, el header y menu deben de estar estáticos) */
* {
  margin: 0;
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.container {
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: 1fr 9fr;
  grid-template-areas:
    "header header"
    "menu content";
  height: 100vh;
}

header {
  grid-area: header;
  background-color: white;
  padding: 10px;
  text-align: center;
  border-bottom: #35523e5a 1px solid;
}


nav {
  background-color: #5cd6a9;
  grid-area: menu;
  padding: 0;
}

nav ul {
  list-style: none;
  padding: 0;
  width: 100%;
  margin: 0;
}

nav ul li {
  margin: 0;
  padding: 0;
}

nav a {
  display: inline-block;
  width: calc(100% - 20px);
  height: 20px;
  border: 1px solid #35523e5a;
  background-color: #95e8c9;
  text-decoration: none;
  color: rgb(5, 31, 0);
  padding: 10px;
  margin: 0;
  text-align: center;
}

nav a.selected {
  background-color: #559f97;
  color: white;
}


main {
  grid-area: content;
  background-color: #f1fffa;
  padding: 40px;
  overflow-y: scroll;
  border-right: #35523e5a 1px solid;
}

article {
  margin: 20px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 2px 2px 20px 2px #35523e5a;
  background-color: white;
  width: fit-content;
}


.img-logo {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  display: block;
}


.login-container {
  display: grid;
  place-items: center;
  height: 100vh;
}

.login {
  max-width: 320px;
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 40px 0px rgba(4, 100, 0, 0.2);
}

.login h1 {
  text-align: center;
  margin-bottom: 20px;
}

.login input {
  width: calc(100% - 20px);
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #35523e5a;
}

.login .img-container {
  margin-bottom: 20px;
}

.login button {
  width: 100%;
  margin: 0 auto 20px auto;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #35523e5a;
  background-color: #5cd6a9;
  color: white;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.login button:hover {
  background-color: #559f97;
}

