{% extends "base.html" %}

{% block title %} Tickets Disponibles {% endblock %}

{% block content %}

    <a class="come-back-button" href="/tickets"> 
        <!-- Create an image linking to static/assets/icons/ -->
        <img src="{{ url_for('static', filename='/assets/icons/arrow-left.svg') }}" alt="Volver">
        <span>Volver</span>
    </a>

    <h1 class="center-text">Administración de Tickets</h1>

    <section class="available-tickets-page">

        <article  class="available-tickets-creation">
            <h2>Crear Nuevo Modelo de Ticket Disponible</h2>
            <form action="/tickets/available-tickets/create" method="post" class="general-form">
                <div>
                    <label for="duration">Duración:</label>
                    <input type="text" name="duration" id="duration" placeholder="ej: UNA HORA, HORA Y MEDIA">
                </div>
                <div>
                    <label for="price">Precio en €:</label>
                    <input type="number" step="0.01" name="price" id="price" placeholder="ej: 0.90">
                </div>
                <input class="default-button" type="submit" value="Crear">
            </form>
        </article>

        <article class="available-tickets-wrapper">
            <h2>Tickets Disponibles</h2>
            <div class="available-tickets">
                {% if available_tickets|length == 0 %}
                    <p>No hay tickets disponibles</p>
                {% endif %}
                {% for ticket in available_tickets %}
                    <div class="available-ticket">
                        <p>Duración: <br/><b>{{ ticket.duration }}</b></p>
                        <p>Precio: <br/><b>{{ ticket.price }} €</b></p>
                        <div>
                            <form action="/tickets/available-tickets/edit/{{ ticket.id }}" method="post">
                                <label for="duration">Modificar duración:</label>
                                <input type="text" name="duration" placeholder="ej: UNA HORA, HORA Y MEDIA">
                                <label for="price">Modificar Precio: </label>
                                <input type="number" step="0.01" name="price" placeholder="ej: 0.90">
                                <input class="default-button" type="submit" value="Modificar">
                            </form>
                        </div>
                        <form action="/tickets/available-tickets/delete/{{ ticket.id }}" class="delete-form" method="post">
                            <input class="secundary-button delete-button" type="submit" value="Eliminar">
                        </form>
                    </div>
                {% endfor %}
            </div>
        </article>
    
    </section>


    <script src="{{ url_for('static', filename='/js/available_tickets.js') }}"></script>

{% endblock %}