{% extends "base.html" %}

{% block title %} Tickets {% endblock %}

{% block content %}

    <h1>Administración de Tickets</h1>
    {# PAGE DATA #}
    <article>
        <p>Mostrando tickets creados desde el <strong>{{ start_date }}</strong> hasta el <strong>{{ end_date }}</strong> </p>
    </article>

    <section>
        <div class="two-columns-grid">
            <article class="filter-options">
                <form action="/tickets" method="GET">
                    <div class="input-container">
                        <label for="start_date">Fecha de inicio</label>
                        <input type="date" name="start_date" id="start_date" value="{{ start_date }}">
                    </div>
                    
                    <div class="input-container">
                        <label for="end_date">Fecha de fin</label>
                        <input type="date" name="end_date" id="end_date" value="{{ end_date }}">   
                    </div>
                    
                    <div class="input-container">
                        <label for="zone">Zona</label>
                        <select name="zone" id="zone" value="{{ zone.name }}">
                            <option value="all">Todas</option>
                            {% if available_zones %}
                                {% for zone in available_zones %}
                                    <option value="{{ zone.name }}">{{ zone.name }}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                    </div>
                    
                    <input class="default-button" type="submit" value="Filtrar resultados">
                </form>
            </article>
            {# <article class="char">
                <canvas id="tickets-chart">

                </canvas>
                
            </article> #}
            <article class="data-shown">
                <p id="tickets-amount">
                    <strong>Número de tickets impresos: </strong>
                    {% if tickets %}
                        {{ tickets|length }}
                    {% else %}
                        0
                    {% endif %}
                </p>
                <p id="tickets-amount">
                    <strong>Pagados con tarjeta: </strong>
                    {{ tickets_data["paid_by_card"] }}
                </p>
                <p id="tickets-amount">
                    <strong>Pagados con efectivo: </strong>
                    {{ tickets_data["paid_by_cash"] }}
                </p>

                <p id="tickets-amount">
                    <strong>Tickets de 30 minutos: </strong>
                    {{ tickets_data["duration_of_30"]}}
                </p>

                <p id="tickets-amount">
                    <strong>Tickets de 60 minutos: </strong>
                    {{ tickets_data["duration_of_60"] }}
                </p>

                <p id="tickets-amount">
                    <strong>Tickets de 90 minutos: </strong>
                    {{ tickets_data["duration_of_90"] }}
                </p>

                <p id="tickets-amount">
                    <strong>Tickets de 120 minutos: </strong>
                    {{ tickets_data["duration_of_120"] }}
                </p>

            </article>
        </div>
    </section>
    <section>

        <h2>Tickets</h2>
        <article class="tickets-record">
            <!-- If tickets, for ticket in tickets create a div where the ticket information is shown, it ocuppy all width and contains the image at left and all ticket information at right-->
            {% if tickets %}
                {% for ticket in tickets %}
                    <div class="ticket" style="background-image: url('{{ url_for('static', filename='assets/tickets/' + ticket.duration|string + '.png') }}');">

                        <div class="on-ticket-info">
                            <p><strong>{{ ticket.created_at }}</strong></p>
                            <p><strong>{{ ticket.duration }}</strong></p>
                            <p><strong>{{ ticket.registration }}</strong></p>
                        </div>
                        <div class="all-ticket-info">
                            <p>Fecha de impresión: <strong>{{ ticket.created_at }}</strong></p>
                            <p>Id del responsable: <strong>{{ ticket.responsible_id }}</strong></p>
                            <p>Duración: <strong>{{ ticket.duration }}</strong></p>
                            <p>Precio: <strong>{{ ticket.price }}</strong></p>
                            <p>
                                Método de pago: 
                                <strong> 
                                    {% if ticket.paid == true %}
                                        Tarjeta
                                    {% else %}
                                        Efectivo
                                    {% endif %}
                                </strong>
                            </p>
                            <p>Matrícula: <strong>{{ ticket.registration }}</strong></p>
                            <p>Localización: <strong>{{ ticket.zone.name }}</strong></p>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>No hay tickets para mostrar</p>
            {% endif %}
        </article>
    </section>

    <script>

    </script>
{% endblock %}

