{% extends "base.html" %}

{% block title %} Tickets {% endblock %}

{% block content %}

    <div class="page-title">
        <h1>Administración de Tickets</h1>
    </div>

    <section class="filter-section">
        <article class="filter-options">
            <h2>Filtrar Resultados: </h2>
            <form action="" method="GET">
                <div class="input-container">
                    <label for="start_date">Fecha de inicio</label>
                    <input type="date" name="start_date" id="start_date" value="{{ start_date }}">
                </div>
                
                <div class="input-container">
                    <label for="end_date">Fecha de fin</label>
                    <input type="date" name="end_date" id="end_date" value="{{ end_date }}">   
                </div>
                
                <div class="input-container">
                    <label for="zone">Zona</label>
                    <select name="zone" id="zone">
                        <option value="all">Todas</option>
                        {% if available_zones %}
                            {% for available_zone in available_zones %}
                                {% if available_zone.name == zone.name %} 
                                    <option value="{{ available_zone.name }}" selected>
                                        {{ available_zone.name }}
                                    </option>
                                {% else %}
                                    <option value="{{ available_zone.name }}">
                                        {{ available_zone.name }}
                                    </option>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </select>
                </div>
                
                <button class="default-button" type="submit" >
                    Filtrar resultados
                    <embed src="{{ url_for('static', filename='assets/icons/loup-icon.svg') }}" width="22" height="22" fill="white"> </embed>
                </button>
            </form>
        </article>
        <div>
            <article class="selected-date">
                <p>Mostrando tickets creados desde el <strong>{{ start_date }}</strong> hasta el <strong>{{ end_date }}</strong> </p>
            </article>
            <article>
                <h2>Administrar Tickets Disponibles</h2>
                <a href="/tickets/available-tickets" class="default-button" style="margin: 0 0 0 auto;">Administrar</a>
            </article>
        </div>
    </section>
    
    <section>
        <section class="two-columns-grid">
            <article class="data-shown">
                <h2 class="title">Resumen de Tickets</h2>
                {% if tickets_data %}
                    <p>
                        <b>Tickets impresos: </b>
                        <strong>{{ tickets_data.tickets_amount }}</strong>
                    </p>
                    <p>
                        Pagados con tarjeta:
                        <strong>{{ tickets_data.paid_by_card }}</strong>
                    </p>
                    <p>
                        Pagados con efectivo: 
                        <strong>{{ tickets_data.paid_by_cash }}</strong>
                    </p>
    
                    <p>
                        <b>
                            Ingresos totales: 
                        </b>
                        <strong>{{ tickets_data.total_income }} €</strong>
                    </p>
    
                {% else %}
                    <h2 id="tickets-amount">
                        Tickets impresos: 
                        <strong>0</strong>
                    </h2>
                {% endif %}
    
            </article>


            <article>
                <h2 class="title">Resumen por duración</h2>
                <div class="tickets-resume">

                    {% if tickets_data %}
                        {% for tickets_data_by_duration in tickets_data.data_by_duration %}
                            <div class="tickets-resume-by-duration green-box">
                                <p>
                                    <b>{{ tickets_data_by_duration.duration }}: </b>
                                    <strong>{{ tickets_data_by_duration.amount }}</strong>
                                </p>
                                <p>
                                    Pagados con tarjeta:
                                    <strong>{{ tickets_data_by_duration.paid_by_card }}</strong>
                                </p>
                                <p>
                                    Pagados con efectivo: 
                                    <strong>{{ tickets_data_by_duration.paid_by_cash }}</strong>
                                </p>

                                <p>
                                    Integresos totales: 
                                    <strong>{{ tickets_data_by_duration.total_income }}</strong>
                                </p>
                            </div>
                        
                        {% endfor %}
                    
                    {% else %}
                        <h2 id="tickets-amount">
                            No hay tickets que mostrar
                        </h2>
                    {% endif %}

                </div>
            </article>
    </section>

    <section class="record-wrapper">

        <h2>Registro de Tickets</h2>
        <div class="record" id="record">
            {% if tickets_data %}
                {% if tickets_data["tickets_amount"] == 0 %}
                    <p>No hay tickets que mostrar</p>
                {% endif %}
            {% else %}
                <p>No hay tickets que mostrar</p>
            {% endif %}
        </div>
        <span class="loader" id="loadMoreTicketsTrigger"></span>

    </section>

    <script type="module" src="{{ url_for('static', filename='js/lazy_tickets.js') }}" data-main></script>

{% endblock %}

