<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %} Home {% endblock %} - Sigilia Barba
        </title>
        <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ url_for('static', filename='css/animations.css') }}" rel="stylesheet" type="text/css">
        <link rel="icon" href="{{ url_for('static', filename='assets/favicon.ico') }}" type="image/x-icon">
        
    </head>
    <body>
        <!-- Create the structure for a dashboard where there is header on top, a menu on left and the current information or page on the rest of the window -->
        <div class="container">
            <div class="sidebar">
                <header class="header">
                    <img class="img-logo" src="{{ url_for('static', filename='/assets/logo.png') }}" alt="">
                </header>
                <nav class="menu">

                    <p class="session-name">Registrado como <b>{{ session["name"] }}</b></p>
                    <ul>
                        <li>
                            <a class="{{ 'selected' if request.path == '/' else '' }}" href="/">Resumen</a>
                        </li>
                        <li>
                            <a class="{{ 'selected' if '/tickets/' in request.path else '' }}" href="/tickets/">Tickets</a>
                        </li>
                        <li>
                            <a class="{{ 'selected' if '/bulletins/' in request.path  else '' }}" href="/bulletins/">Boletines</a>
                        </li>
                        <li>
                            <a class="{{ 'selected' if '/users/' in request.path else '' }}" href="/users/">Usuarios</a>
                        </li>
                        <li>
                            <a class="{{ 'selected' if '/zones/' in request.path else '' }}" href="/zones/">Zonas</a>
                        </li>
    
                    </ul>

                </nav>
                <div class="logout-container">
                    <a href="/auth/logout">Cerrar Sesión</a>
                </div>
            </div>
            <main class="content">
                {% block content %}
                    <span>Hubo algún tipo de problema al cargar el contenido</span>
                {% endblock %}
            </main>
            
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <ul class="messages" id="flash-messages">
                        {% for category, message in messages %}
                        <li class="{% if category == 'success' %}alert-success{% elif category == 'error' %}alert-error{% endif %}">
                                {{ message }}
                            </li>
                        {% endfor %}
                    </ul>
                    <script>
                        setTimeout(function() {
                            let flash_messages = document.getElementById('flash-messages');
                            flash_messages.remove();
                        }, 5000);
                    </script>
                {% endif %}
            {% endwith %}
        
        </div>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </body>
</html>